@charset "UTF-8";
.header {
  background-color: #09f;
  height: 50px; }

.header__link {
  margin-right: 0.5rem; }

.header__link-logo {
  width: 54px;
  height: 29px; }
  @media (max-width: 768px) {
    .header__link-logo {
      position: relative;
      top: 10px; } }

.header__nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.header__nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  padding: 0rem .5rem; }
  .header__nav-item--active {
    position: relative; }
    .header__nav-item--active::before {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      background-color: #ffcb06;
      bottom: 0; }
  @media (max-width: 768px) {
    .header__nav-item {
      display: none; } }

.header__nav-link {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  font-family: 'PT Sans'; }
  .header__nav-link:hover {
    text-decoration: underline; }

.header__nav-avatar {
  position: absolute;
  right: 0; }
  @media (max-width: 768px) {
    .header__nav-avatar {
      top: 10px; } }

.header__avatar-icon {
  position: relative;
  z-index: 2;
  height: 30px;
  width: 30px; }

.header__avatar-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__avatar-link::before {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0083db;
    z-index: 1; }

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.main__nav {
  padding: 2rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: center;
  border-bottom: solid 1px #f2f2f2; }

.main__nav-left {
  display: flex;
  align-items: center; }
  @media (max-width: 499px) {
    .main__nav-left {
      display: none; } }

.main__nav-right {
  display: flex;
  align-items: center; }
  @media (max-width: 991px) {
    .main__nav-right {
      display: none; } }

.main__nav-link {
  position: relative; }
  .main__nav-link:hover {
    color: red; }

.main__nav-item {
  position: relative;
  color: #000;
  font-size: 1.8rem;
  margin-right: 2.5rem; }
  .main__nav-item:last-child {
    margin-right: 0; }
  .main__nav-item--active {
    font-weight: 700;
    position: relative; }
    .main__nav-item--active > .main__nav-link {
      position: relative;
      cursor: text;
      color: #000; }
    .main__nav-item--active::after {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      border-bottom: 2px solid #0096ff;
      bottom: -26px; }
  @media (max-width: 991px) {
    .main__nav-item {
      font-size: 1.7rem; } }
  @media (max-width: 768px) {
    .main__nav-item {
      margin-right: 1rem;
      font-size: 1.5rem; } }

.main__nav-word {
  font-size: 1.8rem;
  font-family: 'PT Sans';
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin-right: 3.5rem; }
  .main__nav-word:hover {
    color: red; }

.main__nav-btn {
  background-color: #0095fc;
  border: none;
  padding: 0rem 1.5rem;
  border-radius: .5rem;
  font-size: 1.6rem;
  cursor: pointer; }
  .main__nav-btn:hover {
    background-color: #0077c9; }

.main__btn-link {
  color: #fff;
  line-height: 2.8rem; }

.main__nav-search {
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;
  background: none; }

.main__search-icon {
  position: relative;
  top: -1px;
  height: 18px;
  width: 18px; }

.swiper-pagination {
  position: relative; }
  @media (max-width: 1199px) {
    .swiper-pagination {
      display: none; } }

.swiper-pagination-bullet {
  position: relative;
  background: none;
  border: 2px solid #fff;
  opacity: 1;
  height: 12px;
  width: 12px; }

.swiper-pagination-bullet-active {
  position: relative;
  z-index: 1000;
  background-color: #fff;
  opacity: 1; }

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  border: none;
  background: none;
  outline: none; }

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none; }

.swiper__buttons {
  display: flex;
  align-items: center; }

.swiper-button-prev {
  background-image: url(../img/icons/right-arrow.png);
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  transform: rotate(180deg); }
  @media (max-width: 991px) {
    .swiper-button-prev {
      margin-left: 7rem; } }
  @media (max-width: 768px) {
    .swiper-button-prev {
      margin: 0; } }
  @media (max-width: 499px) {
    .swiper-button-prev {
      left: 0;
      background-size: 25px 25px; } }

.swiper-button-next {
  background-image: url(../img/icons/right-arrow.png);
  background-repeat: no-repeat;
  width: 35px;
  height: 35px; }
  @media (max-width: 991px) {
    .swiper-button-next {
      margin-right: 7rem; } }
  @media (max-width: 768px) {
    .swiper-button-next {
      margin: 0; } }
  @media (max-width: 499px) {
    .swiper-button-next {
      right: 0;
      background-size: 25px 25px;
      margin-top: 9px; } }

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 30px;
  left: 190px; }

.slider__poster-wrapper {
  position: relative;
  display: flex;
  justify-content: center; }

.slider__poster-info {
  position: absolute;
  top: 5px;
  left: 60px;
  width: 40%; }
  @media (max-width: 991px) {
    .slider__poster-info {
      left: 100px;
      top: 0; } }
  @media (max-width: 768px) {
    .slider__poster-info {
      left: 20px; } }
  @media (max-width: 499px) {
    .slider__poster-info {
      top: -5px; } }

.slider__poster-title {
  color: #fff;
  font-size: 3rem;
  font-weight: 700; }
  @media (max-width: 1199px) {
    .slider__poster-title {
      font-size: 2.5rem; } }
  @media (max-width: 499px) {
    .slider__poster-title {
      font-size: 1.3rem;
      margin-bottom: -1rem; } }

.slider__poster-desc {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400; }
  @media (max-width: 1199px) {
    .slider__poster-desc {
      font-size: 1.5rem; } }
  @media (max-width: 499px) {
    .slider__poster-desc {
      font-size: 1.2rem; } }

.slider__poster-bottom {
  display: flex;
  align-items: center;
  position: absolute;
  color: #fff;
  bottom: 10px;
  left: 60px; }
  @media (max-width: 991px) {
    .slider__poster-bottom {
      left: 100px;
      bottom: 0; } }
  @media (max-width: 768px) {
    .slider__poster-bottom {
      left: 20px; } }
  @media (max-width: 499px) {
    .slider__poster-bottom {
      bottom: -5px; } }

.slider__poster-number {
  font-size: 3rem;
  font-family: 'PT Sans';
  font-weight: 700;
  color: #fff;
  margin-right: 1rem; }
  @media (max-width: 1199px) {
    .slider__poster-number {
      font-size: 2.5rem; } }
  @media (max-width: 499px) {
    .slider__poster-number {
      font-size: 1.5rem; } }

.slider__poster-mounth {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin: 0;
  padding: 0;
  text-transform: lowercase; }
  @media (max-width: 1199px) {
    .slider__poster-mounth {
      font-size: 1.5rem; } }
  @media (max-width: 499px) {
    .slider__poster-mounth {
      font-size: 1.4rem; } }

.slider__poster-day {
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  text-transform: lowercase;
  margin: 0;
  padding: 0; }
  @media (max-width: 499px) {
    .slider__poster-day {
      font-size: 0.9rem; } }

.slider__poster-time {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  margin: 0 2.5rem; }
  @media (max-width: 1199px) {
    .slider__poster-time {
      font-size: 2.5rem; } }
  @media (max-width: 499px) {
    .slider__poster-time {
      font-size: 1.5rem; } }

.slider__poster-link {
  display: inline;
  padding: .8rem 1.3rem;
  background-color: #fff;
  color: #000;
  font-size: 1.6rem;
  border-radius: .5rem; }
  .slider__poster-link--type-1 {
    background-color: #ee721a;
    color: #fff; }
  @media (max-width: 1199px) {
    .slider__poster-link {
      padding: .6rem 1.1rem;
      font-size: 1.3rem; } }
  @media (max-width: 499px) {
    .slider__poster-link {
      padding: .3rem .8rem;
      font-size: 1.1rem; } }

.tabs {
  margin: 5rem 0rem; }
  @media (max-width: 768px) {
    .tabs {
      margin: 2rem 0rem; } }

.tabs__nav {
  display: flex; }

.tabs__nav-btn {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 20px;
  border: 0;
  cursor: pointer;
  background: none;
  outline: none; }
  @media (max-width: 768px) {
    .tabs__nav-btn {
      justify-content: center; } }

.tabs__nav-btn:hover > .tab__title {
  color: #f39e61; }

.tabs__nav-btn:hover > .tabs__icon {
  fill: #f39e61; }

.tabs__nav-btn.active > .tab__title {
  font-weight: 700;
  color: #f39e61; }

.tabs__nav-btn.active > .tabs__icon {
  fill: #f39e61; }

.tabs__content {
  margin-top: 1.5rem; }

.tabs__item {
  display: none; }

.tabs__item.active {
  display: block; }

.tab__title {
  font-size: 1.8rem;
  color: #000;
  font-weight: 400; }
  .tab__title--active {
    font-weight: 700;
    color: #f39e61; }
  @media (max-width: 991px) {
    .tab__title {
      font-size: 1.6rem; } }
  @media (max-width: 768px) {
    .tab__title {
      display: none; } }

.tabs__icon {
  height: 25px;
  width: 25px;
  fill: #000;
  margin-right: 1.5rem; }
  .tabs__icon:hover {
    fill: #f39e61; }
  .tabs__icon--active {
    fill: #f39e61; }
  @media (max-width: 991px) {
    .tabs__icon {
      margin-right: 1rem; } }
  @media (max-width: 768px) {
    .tabs__icon {
      height: 23px;
      width: 23px; } }
  @media (max-width: 499px) {
    .tabs__icon {
      height: 20px;
      width: 20px; } }

.tabs__content-title {
  display: none; }
  @media (max-width: 768px) {
    .tabs__content-title {
      display: block;
      font-size: 1.8rem;
      color: #000;
      font-weight: 700;
      margin: 2rem 0rem; } }

.tabs__inner {
  display: flex;
  flex-wrap: wrap;
  margin-right: -2rem; }
  @media (max-width: 1199px) {
    .tabs__inner {
      justify-content: center; } }

.tabs__inner-item {
  width: calc(25% - 20px);
  margin-right: 2rem;
  margin-bottom: 2rem; }
  @media (max-width: 1199px) {
    .tabs__inner-item {
      margin-right: 3rem;
      margin-bottom: 1rem; } }
  @media (max-width: 991px) {
    .tabs__inner-item {
      width: calc(33.33333% - 10px); } }
  @media (max-width: 768px) {
    .tabs__inner-item {
      width: calc(40% - 10px); } }
  @media (max-width: 499px) {
    .tabs__inner-item {
      width: calc(100% - 40px);
      margin-right: 2rem; } }

.tabs__inner-img {
  min-width: 100%; }

.tabs__inner-wrapper {
  position: relative; }
  .tabs__inner-wrapper::after {
    content: 'боевик';
    display: block;
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #fff;
    padding: .8rem 1.3rem;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 2; }
    @media (max-width: 1199px) {
      .tabs__inner-wrapper::after {
        font-size: 1.3rem;
        padding: .6rem 1.1rem; } }
    @media (max-width: 991px) {
      .tabs__inner-wrapper::after {
        font-size: 1rem;
        padding: .4rem .9rem; } }
    @media (max-width: 768px) {
      .tabs__inner-wrapper::after {
        font-size: .9rem;
        padding: .3rem .8rem; } }
  .tabs__inner-wrapper:hover .tabs__item-title > a {
    color: red; }

.tabs__item-title {
  position: relative;
  margin-top: 1.2rem;
  display: flex; }
  .tabs__item-title > a {
    color: #000;
    font-size: 1.6rem;
    margin-right: 1rem;
    width: 90%;
    font-weight: 700; }
    .tabs__item-title > a:hover {
      color: red; }
    @media (max-width: 1199px) {
      .tabs__item-title > a {
        font-size: 1.5rem; } }
    @media (max-width: 991px) {
      .tabs__item-title > a {
        font-size: 1.4rem; } }
    @media (max-width: 768px) {
      .tabs__item-title > a {
        font-size: 1.3rem; } }
    @media (max-width: 499px) {
      .tabs__item-title > a {
        font-size: 1.5em; } }

.tabs__item-age {
  position: absolute;
  right: 0;
  padding: 2px 3px;
  font-size: 12px;
  font-weight: 700;
  color: #9c9c9c;
  border: 1px solid #9c9c9c;
  border-radius: 2px; }

.tabs__item-date {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.6rem;
  color: #000; }
  .tabs__item-date > a {
    margin-left: 1rem; }

.soon {
  background-color: #f1f1f1;
  padding-top: 4rem;
  padding-bottom: 2rem; }
  @media (max-width: 768px) {
    .soon {
      padding-top: 1rem; } }

.soon__inner {
  display: flex;
  flex-wrap: wrap;
  margin-right: -2rem; }
  @media (max-width: 1199px) {
    .soon__inner {
      justify-content: center; } }

.soon__title {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: #000; }

.soon__inner-item {
  width: calc(25% - 20px);
  margin-right: 2rem;
  margin-bottom: 2rem; }
  @media (max-width: 1199px) {
    .soon__inner-item {
      margin-right: 3rem;
      margin-bottom: 1rem; } }
  @media (max-width: 991px) {
    .soon__inner-item {
      width: calc(33.33333% - 10px); } }
  @media (max-width: 768px) {
    .soon__inner-item {
      width: calc(40% - 10px); } }
  @media (max-width: 499px) {
    .soon__inner-item {
      width: calc(100% - 40px);
      margin-right: 2rem; } }

.soon__inner-img {
  min-width: 100%; }

.soon__inner-wrapper {
  position: relative; }
  .soon__inner-wrapper::after {
    content: 'Купить билет';
    display: block;
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #fff;
    background-color: #ee721a;
    padding: .8rem 1.3rem;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 2; }
    @media (max-width: 1199px) {
      .soon__inner-wrapper::after {
        font-size: 1.3rem;
        padding: .6rem 1.1rem; } }
    @media (max-width: 991px) {
      .soon__inner-wrapper::after {
        font-size: 1rem;
        padding: .4rem .9rem; } }
    @media (max-width: 768px) {
      .soon__inner-wrapper::after {
        font-size: .9rem;
        padding: .3rem .8rem; } }
  .soon__inner-wrapper:hover::after {
    background-color: #f1751d; }
  .soon__inner-wrapper:hover .soon__item-title > a {
    color: red; }

.soon__item-title {
  position: relative;
  margin-top: 1.2rem;
  display: flex; }
  .soon__item-title > a {
    color: #000;
    font-size: 1.6rem;
    margin-right: 1rem;
    width: 90%;
    font-weight: 700; }
    .soon__item-title > a:hover {
      color: red; }
    @media (max-width: 1199px) {
      .soon__item-title > a {
        font-size: 1.5rem; } }
    @media (max-width: 991px) {
      .soon__item-title > a {
        font-size: 1.4rem; } }
    @media (max-width: 768px) {
      .soon__item-title > a {
        font-size: 1.3rem; } }
    @media (max-width: 499px) {
      .soon__item-title > a {
        font-size: 1.5em; } }

.soon__comments-link {
  display: flex;
  align-items: center; }
  .soon__comments-link:hover > .soon__item-icon {
    fill: red; }
  .soon__comments-link:hover > .soon__comments-count {
    color: red; }

.soon__item-icon {
  fill: #999999;
  height: 15px;
  width: 15px;
  margin-right: 1rem; }

.soon__comments-count {
  color: #999999;
  font-size: 1.6rem;
  font-weight: 400; }
  @media (max-width: 1199px) {
    .soon__comments-count {
      font-size: 1.5rem; } }
  @media (max-width: 991px) {
    .soon__comments-count {
      font-size: 1.4rem; } }
  @media (max-width: 768px) {
    .soon__comments-count {
      font-size: 1.3rem; } }

.soon__item-age {
  position: absolute;
  right: 0;
  padding: 2px 3px;
  font-size: 12px;
  font-weight: 700;
  color: #9c9c9c;
  border: 1px solid #9c9c9c;
  border-radius: 2px; }

.soon__inner-load {
  margin-top: 1rem;
  display: flex;
  justify-content: center; }

.soon__inner-btn {
  background-color: #0095fc;
  width: 100%;
  max-width: 580px;
  padding: 1.1rem 0rem;
  color: #fff;
  border: none;
  font-size: 1.6rem;
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer; }
  .soon__inner-btn:hover {
    background: #0c87db;
    border-color: #0c87db; }

.footer {
  background-color: #202020; }

.footer__social {
  padding-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3.5rem;
  border-bottom: solid 4px #555; }
  @media (max-width: 499px) {
    .footer__social {
      padding-bottom: 1.5rem; } }

.footer__social-inner {
  display: flex; }
  @media (max-width: 768px) {
    .footer__social-inner {
      width: 100%;
      justify-content: center; } }

.footer__social-links {
  display: flex; }
  @media (max-width: 768px) {
    .footer__social-links {
      width: 100%;
      justify-content: center; } }

.footer__social-inner {
  margin-bottom: 1.5rem; }

.footer__social-item {
  margin: 0rem 1.1rem; }

.footer__social-icon {
  width: 20px;
  height: 20px;
  fill: #fff; }
  @media (max-width: 768px) {
    .footer__social-icon {
      width: 18px;
      height: 18px; } }

.footer__likns-item {
  color: #fff;
  font-size: 1.4rem;
  padding-left: 1rem; }
  .footer__likns-item:first-child {
    padding-right: 0; }
  @media (max-width: 768px) {
    .footer__likns-item {
      font-size: 1.2rem; } }
  @media (max-width: 499px) {
    .footer__likns-item {
      font-size: 1rem; } }

.footer__info {
  margin-top: 1.5rem; }

.footer__info-item {
  display: flex;
  flex-direction: column;
  margin-right: 3rem; }
  @media (max-width: 499px) {
    .footer__info-item {
      margin-right: 0; } }

.footer__info {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3.5rem; }

.footer__info-link {
  color: #dedede;
  font-size: 1.4rem;
  margin-bottom: 0.5rem; }
  .footer__info-link:hover {
    color: #fff; }

.footer__info-left {
  display: flex; }
  @media (max-width: 768px) {
    .footer__info-left {
      width: 100%;
      justify-content: center; } }
  @media (max-width: 499px) {
    .footer__info-left {
      flex-direction: column;
      justify-content: center;
      text-align: left; } }

.footer__conf {
  display: flex;
  flex-direction: column;
  width: 35%; }
  @media (max-width: 768px) {
    .footer__conf {
      width: 100%;
      justify-content: center; } }

.footer__info-text {
  font-size: 1.4rem;
  color: #5a5a5a; }

/*# sourceMappingURL=main.css.map */
